<head>
    <title>Airpnp-My account</title>
    <meta charset="UTF-8">
    <!--   <meta name="discription" content="Something about pets">
  <title>Login Page</title> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<!--comments here-->

<body class="subpage">
    <header id="header">
        <div class="inner">
            <a href="index" class="logo">
                <font size="+3"><strong>Airpnp</strong></font>
            </a>
            <nav id="nav">
                <a href="login">Login</a>
                <a href="signup">Signup</a>
                <a href="listings">My listings</a>
                <a href="biddings">My biddings</a>
                <a href="account">My account</a>
                <a href="history">My history</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!--Manage pets here-->
    <footer id="footer">
        <div class="inner">
            <h2><strong>Manage your pets and account</strong></h2>
            <br />
            <h3>Here are all your pets</h3>
        </div>
    </footer>
    <!--List all pets here-->

    <div class="table-wrapper" , style="padding-left:5%; padding-right:5%">
        <br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item 1</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item 2</td>
                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item 4</td>
                    <td> Morbi faucibus arcu accumsan lorem.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item 8</td>
                    <td>Vitae integer tempus condimentum.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item 16</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--add or delete pet here-->
    <footer id="footer">
        <div class="inner">
            <h3>Add a new pet here</h3>
            <div class="field half">
                <label for="petName">Pet Name</label>
                <input name="petName" id="petName" type="text" placeholder="Pet name">
            </div>

            <div class="field half">
                <label for="type">Type</label>
                <input name="type" id="type" type="text" placeholder="Type of your pet. e.g. Cat, Dog">
            </div>
            <br />
            <ul class="actions">
                <li><input value="Add" class="button alt" type="submit"></li>
            </ul>
            <br /><br />
            <h3>Or, remove a pet from your account</h3>
            <div class="12u$">
                <!--If using list is too difficult then let the user input the name-->
                <div class="select-wrapper">
                    <select name="demo-category" id="demo-category">
                        <option value="">- Pet name -</option>
                        <option value="1">Manufacturing</option>
                        <option value="1">Shipping</option>
                        <option value="1">Administration</option>
                        <option value="1">Human Resources</option>
                    </select>
                </div>
            </div>
            <br />
            <ul class="actions">
                <li><input value="Confirm" class="button alt" type="submit"></li>
            </ul>
            <br /><br />
            <!--Change and forget password-->
            <h3>Change your password here</h3>
            <div class="field half">
                <label for="oldPassword">Old password</label>
                <input name="oldPassword" id="oldPassword" type="text" placeholder="Old password">
            </div>

            <div class="field half">
                <label for="newPassword">Type</label>
                <input name="newPassword" id="newPassword" type="text" placeholder="New password">
            </div>
            <br />
            <ul class="actions">
                <li><input value="Change" class="button alt" type="submit"></li>
            </ul>
            <br /><br />
        </div>
    </footer>

</html>