<!DOCTYPE html>
<html>

<head>
	<title>Airpnp</title>
  <meta charset="UTF-8">
<!--   <meta name="discription" content="Something about pets">
  <title>Login Page</title> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<!--comments here-->
<body class="subpage">
				<header id="header">
				<div class="inner">
					<a href="index" class="logo"><strong>Airpnp</strong></a>
					<nav id="nav">
						<a href="login">Login</a>
						<a href="signup">Signup</a>
						<a href="listings">My listings</a>
						<a href="biddings">My biddings</a>
						<a href="account">My account</a>
						<a href="history">My history</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

</html>