<!DOCTYPE html>
<html>

<head>
	<title>Airpnp</title>
	<meta charset="UTF-8">
	<!--   <meta name="discription" content="Something about pets">
	<title>Login Page</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<!--comments here-->

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<a href="login">Login</a>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<footer id="footer">
		<div class="inner">
			<h3>Find out a second home for your pet</h3>
			<h2>when you are on leave</h2>
		</div>
	</footer>

	<section id="three">
		<div class="inner">
			<br><br>
			<!-- filtering information -->
			<h3>Filter</h3>
			<form method="post" action="#">
				<div class="row">
					<!-- sorting information -->
					<div class="align-center">
						<input type="checkbox" id="priceHighToLow" name="priceHighToLow">
						<label for="priceHighToLow">Price High to Low</label>
					</div>

					<div class="align-center">
						<input type="checkbox" id="priceLowToHigh" name="priceLowToHigh">
						<label for="priceLowToHigh">Price Low to High</label>
					</div>

					<div class="align-center">
						<input type="checkbox" id="rating" name="rating">
						<label for="rating">Rating</label>
					</div>

					<div class="align-center">
						<input type="checkbox" id="favourite" name="favourite">
						<label for="favourite">Favourite</label>
					</div>
				</div>

				<!-- filtering information -->
				<div class="field half first">
					<label>Low Price</label>
					<input type="text" name="lowPrice" id="lowPrice" placeholder="Low Price" />
				</div>

				<div class="field half">
					<label>High Price</label>
					<input type="text" name="highPrice" id="highPrice" placeholder="High Price" />
				</div>

				<div class="field half first">
					<label>Start Time</label>
					<input type="text" name="startTime" id="startTime" placeholder="Start Time" />
				</div>

				<div class="field half">
					<label>End Time</label>
					<input type="text" name="endTime" id="endTime" placeholder="End Time" />
				</div>

				<div class="field">
					<label>Minimum Capacity</label>
					<input type="text" name="capacity" id="capacity" placeholder="Capacity" />
				</div>

				<!-- search button -->
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
					<li><input class="button special" type="reset" value="Reset" /></li>
				</ul>
			</form>
<br><br>
			<h3>All listings</h3>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Item 1</td>
							<td>Ante turpis integer aliquet porttitor.</td>
							<td>29.99</td>
						</tr>
						<tr>
							<td>Item 2</td>
							<td>Vis ac commodo adipiscing arcu aliquet.</td>
							<td>19.99</td>
						</tr>
						<tr>
							<td>Item 3</td>
							<td> Morbi faucibus arcu accumsan lorem.</td>
							<td>29.99</td>
						</tr>
						<tr>
							<td>Item 4</td>
							<td>Vitae integer tempus condimentum.</td>
							<td>19.99</td>
						</tr>
						<tr>
							<td>Item 5</td>
							<td>Ante turpis integer aliquet porttitor.</td>
							<td>29.99</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2"></td>
							<td>100.00</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</section>


</html>