<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="discription" content="Something about pets">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<!--comments here-->

<body>
  <h1><%= title %></h1>
  <hr />
  <p>Welcome to <b>pets<sup>!</sup></b></p>

  <div class="sidenav">
    <a href="./listings"> My Listings</a>
  </div>

</body>

</html>