<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-My listings</title>
	<meta charset="UTF-8">
	<!--   <meta name="discription" content="Something about pets">
    <title>Login Page</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<a href="login">Login</a>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<footer id="footer">
		<div class="inner">
			<h3> Create a new listing </h3>

			<form action="#" method="post">
				<div class="field half first">
					<label for="Start date">Start date</label>
					<input name="startDate" id="startDate" type="text" placeholder="Start date">
				</div>

				<div class="field half">
					<label for="End date">End date</label>
					<input name="endDate" id="endDate" type="text" placeholder="End date">
				</div>

				<div class="field">
					<label for="Min bid">Min bid</label>
					<input name="minBid" id="minBid" type="text" placeholder="Min bid">
				</div>

				<br />
				<ul class="actions">
					<li><input value="Create listing" class="button alt" type="submit"></li>
				</ul>
			</form>
		</div>
	</footer>

	<br><br>

	<div class="wrapper align-center">
		<h3>
			<font size="+3">Your active listings</font>
		</h3>
		<div class="table-wrapper" , style="padding-left: 100px; padding-right: 100px">
			<table>
				<thead>
					<tr>
						<th scope="col">Minimum Bid</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						<th scope="col">Capacity</th>
					</tr>
				</thead>
				<tbody style: align="left">
					<% for(var i=0; i<data.length; i++) { %>
					<tr>
						<td><%= data[i].minbid%></td>
						<td>convert(data[i].startdate)</td>
						<td><%= data[i].enddate%></td>
						<td><%= data[i].capacity%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
</body>

</html>