<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-Login</title>
	<meta charset="UTF-8">
	<!--   <meta name="discription" content="Something about pets">
	<title>Login Page</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<!--comments here-->

<body class="subpage">

	<!-- header -->
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<% if (result.length) {%>
				<a>Logged in as: <%= result[0].username%></a>
				<a href='index?action=logout'>Logout</a>
				<% } else { %>
				<a href="login">Login</a>
				<%}%>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>



	<footer id="footer">
		<div class="inner">
			<h3>Log into your account</h3>

			<form action="#" method="post">

				<br />

				<div class="field half">
					<label for="username">Username</label>
					<input name="username" id="username" type="text" placeholder="Username">
				</div>

				<br />

				<div class="field half">
					<label for="password">Password</label>
					<input name="password" id="password" type="text" placeholder="Password">
				</div>

				<br />
				<br />
				<br />

				<ul class="actions">
					<li><input value="Login" class="button alt" type="submit"></li>
				</ul>
			</form>
		</div>
		<br /><br /><br /><br />
	</footer>

</html>