<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-Login</title>
  <meta charset="UTF-8">
<!--   <meta name="discription" content="Something about pets">
  <title>Login Page</title> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<!--comments here-->
<body class="subpage">

	<!-- header -->
				<header id="header">
				<div class="inner">
					<a href="index" class="logo"><strong>Pet Retailer</strong></a>
					<nav id="nav">
						<a href="login">Login</a>
						<a href="signup">Signup</a>
						<a href="listings">My listings</a>
						<a href="biddings">My biddings</a>
						<a href="account">My account</a>
						<a href="history">My history</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>



			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

</html>