<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-My Wishlist</title>
	<meta charset="UTF-8">
	<!--   <meta name="discription" content="Something about pets">
	<title>Login Page</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<!--comments here-->

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<a href="login">Login</a>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<footer id="footer">
		<div class="inner">
			<h3>把可人儿的帖子加入心愿单</h3>
			<h2>别让等待成为遗憾</h2>
		</div>
	</footer>

	<section id="three">
		<div class="inner">
			<div class="wrapper align-center">	
				<br/>		
				<h3>Wishlist</h3>
			</div>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Item 1</td>
							<td>Ante turpis integer aliquet porttitor.</td>
							<td>29.99</td>
						</tr>
						<tr>
							<td>Item 2</td>
							<td>Vis ac commodo adipiscing arcu aliquet.</td>
							<td>19.99</td>
						</tr>
						<tr>
							<td>Item 3</td>
							<td> Morbi faucibus arcu accumsan lorem.</td>
							<td>29.99</td>
						</tr>
						<tr>
							<td>Item 4</td>
							<td>Vitae integer tempus condimentum.</td>
							<td>19.99</td>
						</tr>
						<tr>
							<td>Item 5</td>
							<td>Ante turpis integer aliquet porttitor.</td>
							<td>29.99</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2"></td>
							<td>100.00</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</section>

</html>